@import "../../../scss/keyframes.scss";

.circle {
  position: fixed !important;
  bottom: 40px;
  left: 40px;
}

.circleBtn {
  position: relative;
  box-sizing: border-box !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px !important;
  height: 40px !important;

  border: 1px solid #fff !important;
  border-radius: 50%;

  background-color: transparent !important;

  transition: all 0.5s;
  animation: flicker 2s infinite ease;

  cursor: pointer;

  &::after {
    content: url(../../../assets//icons/feedback.svg);
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;

    // background-color: #fff;
  }

  div {
    display: none;
  }

  &:hover {
    color: var(--blue);
  }
}

.circleItem {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;

  &:hover {
    background-color: transparent;
    color: var(--blue) !important;
    transform: scale(105%);
  }
}
