.stages {
  position: relative;
  padding: 50px 100px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4) inset;
  background: linear-gradient(
      180deg,
      rgba(10, 10, 10, 1) 0%,
      rgba(32, 35, 41, 0.8) 100%
    ),
    url(../../assets/images/stages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
}

.title {
  position: relative;

  font-size: 30px;
  font-weight: 600;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 1px;
    background-color: var(--blue);
  }
}

.wrapper {
  margin-top: 50px;
}

.stage:last-child {
  .icon {
    background-color: var(--green);
  }
}

// .progress {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%);
//   width: 4px;
//   height: 100px;
//   background-color: red;
// }

.subtitle {
  font-size: 40px !important;
  color: var(--blue);
  opacity: 1 !important;
  padding: 0 !important;
  top: 0 !important;
}

.icon {
  top: 10px;
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px !important;
  box-shadow: none;
  border: 2px solid #fff;
  background-color: var(--pink);
}

@media (max-width: 1169px) {
  .icon {
    margin-left: 10px !important;
  }
  .subtitle {
    font-size: 30px !important;
    margin: 20px 0;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .stages {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .stages {
    padding: 25px;
  }
  .subtitle {
    font-size: 25px !important;
    margin: 15px 0;
  }
}

@media (max-width: 360px) {
  .stages {
    padding: 25px 15px;
  }
  .subtitle {
    font-size: 20px !important;
    margin: 10px 0;
  }
}
