.contactsPage {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../assets/images/map.svg);

  background-size: cover;
  background-position-x: center;

  padding: 50px 70px 100px 70px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts {
  padding: 20px;
}

.contactsList {
  list-style: none;
}

.contactsLink {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  color: #fff;
  font-size: 20px;

  transition: all 0.2s ease;
  &:hover {
    color: var(--pink);
  }
}

.contactsItemIcon {
  margin-right: 20px;

  font-size: 20px;
}

.formWrapper {
  padding: 20px;
  width: 600px;
}

.title {
  margin-bottom: 50px;

  font-size: 40px;
  font-weight: 700;
  text-shadow: 0px 0px 3px #000000;
}

.formItem {
  margin: 20px 0;
}

.input {
  resize: none;
  background-color: transparent;

  backdrop-filter: blur(10px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  width: 100%;
  color: #fff;
}

.flex {
  display: flex;
  gap: 36px;
  .formItem {
    width: 50%;
    margin: 0;
  }
}

.notice {
  margin-top: 15px;
  font-size: 10px;
}

.link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
  &:focus {
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .contactsPage {
    padding: 50px;
  }

  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .formWrapper {
    min-width: 250px;
  }
}

@media (max-width: 768px) {
  .contactsPage {
    padding: 50px;
  }
  .formWrapper {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .contactsPage {
    padding: 50px 20px;
  }
  .formWrapper {
    padding: 20px;
  }
  .title {
    text-align: center;
    font-size: 35px;
  }
  .flex {
    flex-direction: column;
    gap: 20px;
    .formItem {
      width: 100%;
      margin: 0;
    }
  }
}

@media (max-width: 360px) {
  .contactsPage {
    padding: 50px 0;
  }

  .title {
    font-size: 30px;
  }
}
