.services {
  padding: 50px 100px;
}

.title {
  text-align: right;
  font-weight: 600;
  font-size: 40px;
  color: var(--pink);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;

  margin: 30px 0;
}

.link {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  padding: 20px;
  width: 180px;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

  cursor: pointer;

  .linkTitle {
    color: var(--light);

    transition-property: color;
    transition-delay: 0.4s;
  }

  & span {
    position: absolute;
    bottom: 0;
    left: -100%;

    display: block;

    width: 100%;
    height: 2px;

    background: linear-gradient(270deg, transparent, var(--blue));
  }

  &:hover {
    .linkTitle {
      color: var(--blue);
    }
    span {
      left: 100%;

      transition: left 0.5s;
    }
  }
}

.active {
  border-bottom: 2px solid var(--blue);

  .linkTitle {
    color: #fff;
  }
}

.linkTitle {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 1024px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .link {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .services {
    padding: 25px;
  }
  .title {
    text-align: center;
    font-size: 30px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 360px) {
}
