.motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 25px 100px;
  min-height: 200px;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4) inset;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  position: relative;
  margin-right: 20px;
  // padding-right: 20px;
  // border-right: 1px solid #fff;
  width: 50%;
  font-size: 30px;
  line-height: 140%;
  color: var(--light);
  font-weight: 600;
  text-align: end;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;

    background-color: #fff;
    top: 0;
    right: -21px;
  }
}

.blue {
  color: var(--blue);
}

.subtitle {
  margin-left: 20px;
  width: 50%;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
}

@media (max-width: 768px) {
  .motto {
    padding: 25px 50px;
  }
}

@media (max-width: 576px) {
  .motto {
    padding: 25px 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;

    text-align: center;
  }
  .title {
    width: 100%;
    margin-right: 0;
    padding-bottom: 20px;

    border-bottom: 2px solid #fff;

    text-align: center;

    &::after {
      display: none;
    }
  }

  .subtitle {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .motto {
    padding: 25px 15px;
  }
  .title {
    font-size: 20px;
  }
}
