.main {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 55px 100px 25px 100px;
  height: calc(100vh - 70px);
}

.title {
  font-size: 40px;
  color: #fff;
}

.pink {
  padding: 0 10px;

  line-height: 50px;
  text-shadow: 0px 0px 3px #000000;

  background-color: var(--pink);
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: 30px;

  font-size: 25px;
  line-height: 25px;
  color: var(--light);
}

@media (max-width: 768px) {
  .main {
    padding: 55px 50px 25px 50px;
  }
}

@media (max-height: 576px) {
  .main {
    padding: 55px 50px 25px 50px;
  }
  .title {
    font-size: 30px;
  }

  .subtitle {
    margin-top: 20px;

    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    margin-top: 30px;

    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 55px 20px 25px 20px;
  }
}

@media (max-height: 360px) {
  .main {
    padding: 20px 50px 0 50px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .pink {
    line-height: 30px;
  }
}
