.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.content {
  display: grid;
  grid-template-areas:
    "development context"
    "seo target"
    "contacts contacts";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  overflow-y: scroll;

  width: 500px;
  height: 500px;

  .title {
    padding: 15px;
    margin-left: 0;

    text-shadow: 0px 0px 5px #000000;

    transition: all 0.5s;
  }

  .link {
    display: flex;
    align-items: flex-end;

    color: #fff;

    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);

    transition: all 0.5s;

    &:hover {
      transform: scale(105%);
      background-color: rgb(32, 32, 32);

      .title {
        transform: translate(20px);
      }
    }
    &:focus {
      background-color: rgb(32, 32, 32);
    }
  }

  .development {
    grid-area: development;
    background-image: url(../../assets/images/development.svg);
  }
  .context {
    grid-area: context;
    background-image: url(../../assets//images/context.svg);
  }
  .seo {
    grid-area: seo;
    background-image: url(../../assets//images/seo.svg);
  }
  .target {
    grid-area: target;
    background-image: url(../../assets/images/target.svg);
  }

  .contacts {
    grid-area: contacts;
    background-image: url(../../assets/images/contacts.svg);
  }
}

.linkActive {
  transform: scale(105%);

  filter: grayscale(0);
}

.active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 768px) {
  .content {
    padding: 70px;

    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .content {
    display: block;
    padding: 70px 20px;

    .link {
      margin: 20px;
      height: 200px;

      background-size: 40%;
    }
  }
}

@media (max-height: 576px) {
  .content {
    padding: 70px;

    width: 100%;
    height: 100%;
  }

  .link {
    height: 200px;
  }
}
