.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;
  height: 70px;
  background-color: #000;
}

.logo {
  display: flex;
}

.logoImg {
  height: 25px;
}

.logoText {
  margin-left: 0.1em;

  font-family: Orbitron, sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #fff;
}

.nav {
  display: flex;
}

.burgerBtn {
  display: none;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px 10px;
  width: 60px;
  height: 60px;

  overflow: hidden;

  div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 1s;
  }

  &:hover div {
    background-color: var(--blue);
  }
}

.active {
  div:nth-child(2) {
    transform: translateX(100px);
  }
  div:nth-child(1) {
    left: 15px;
    transform: rotate(45deg) translateY(20px);
  }

  div:nth-child(3) {
    left: 15px;
    transform: rotate(-45deg) translateY(-20px);
  }
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
  .burgerBtn {
    display: flex;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0 20px;
  }
  .logoImg {
    height: 15px;
  }

  .logoText {
    font-size: 15px;
    line-height: 15px;
  }
}
