.consult {
  padding: 25px 100px;
}

.title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 40px;
  color: var(--pink);
}

.subtitle {
  margin-bottom: 35px;
  font-size: 18px;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.img {
  width: 30%;
}

.formWrapper {
  padding: 30px;
  width: 60%;
  min-width: 500px;
  max-width: 750px;
  margin-right: 50px;

  background-color: rgb(34, 37, 43);
}

.formItem {
  margin: 20px 0;
}

.input {
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.flex {
  display: flex;
  gap: 36px;
  .formItem {
    width: 50%;
    margin: 0;
  }
}

.notice {
  margin-top: 15px;
  font-size: 10px;
}

.link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
  &:focus {
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .formWrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .consult {
    padding: 25px 50px;
  }
  .formWrapper {
    min-width: 250px;
  }
}

@media (max-width: 576px) {
  .consult {
    padding: 25px;
  }

  .title {
    font-size: 30px;
  }
  .formWrapper {
    padding: 20px;
  }
  .flex {
    flex-direction: column;
    gap: 20px;
    .formItem {
      width: 100%;
      margin: 0;
    }
  }
}
@media (max-width: 360px) {
  .consult {
    padding: 25px 0;
  }
}
