.feedback {
  padding: 50px 100px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  color: var(--yellow);
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

.content {
  width: 50%;
  padding-right: 50px;
}

.warning {
  font-size: 12px;
}

.link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .feedback {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .feedback {
    padding: 25px;
  }
  .title {
    text-align: center;
    font-size: 30px;
  }
}
