.feedback {
}

.title {
  font-weight: 600;
  font-size: 40px;
  color: var(--blue);
  margin: 50px 0 50px 100px;
}

.wrapper {
  background-image: url(../../assets/images/door.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

.subtitle {
  margin-bottom: 35px;
  font-size: 18px;
  text-align: center;
}

.formWrapper {
  margin: 20px 200px 50px 100px;
  padding: 50px;
  width: 600px;

  background-color: rgb(34, 37, 43);
}

.formItem {
  margin: 20px 0;
}

.input {
  resize: none;
  background-color: transparent;
  width: 100%;
  color: #fff;
}

.flex {
  display: flex;
  gap: 36px;
  .formItem {
    width: 50%;
    margin: 0;
  }
}

.notice {
  margin-top: 15px;
  font-size: 10px;
}

.link {
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    justify-content: center;
  }

  .formWrapper {
    margin: 20px 100px 50px 100px;
  }
}

@media (max-width: 1024px) {
  .formWrapper {
    width: 100%;
    margin: 20px 100px 50px 100px;
  }
  .title {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .formWrapper {
    margin: 0 50px 50px 50px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
    margin: 25px 0 25px 0;
  }
  .formWrapper {
    margin: 0 25px 50px 25px;
    padding: 25px;
  }
  .flex {
    flex-direction: column;
    gap: 20px;
    .formItem {
      width: 100%;
      margin: 0;
    }
  }
}
@media (max-width: 360px) {
  .formWrapper {
    margin: 0 0 50px 0;
  }
}
