:root {
  --light: #acb4c3;
  --levender: #e0d9f6;
  --pink: #ff2a6d;
  --yellow: #ffd300;
  --blue: #05d9e8;
  --blue_2: #6ecbf5;
  --royal: #586ae2;
  --violet: #646bee;
  --orchid: #c252e1;
  --background: rgb(22, 22, 22);
}
