.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 120px;
  min-height: 50px;

  border-top: 1px solid rgba(62, 67, 74, 1);
  background-color: rgba(52, 57, 64, 1);
}

.logo {
  position: relative;
  top: -25px;

  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 50px;
  min-height: 40px;

  background-color: rgb(44, 48, 57);

  text-align: center;
  font-size: 12px;
  color: var(--light);

  .privacyBtn {
    color: var(--blue);

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }
}

.link {
  color: #fff;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0 20px;
  }

  .copyright {
    flex-direction: column;
    padding: 10px 20px;

    p:first-child {
      margin-bottom: 10px;
    }
  }
}
