.promotion {
  display: flex;
  padding: 25px 100px;
}

.content {
  padding: 0 20px 0 0;
}

.img {
  width: 40%;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
}

.pink {
  color: var(--pink);
}

.desc {
  margin: 25px 0;

  color: var(--light);
  line-height: 120%;
}

@media (max-width: 1024px) {
  .img {
    display: none;
  }

  .content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .promotion {
    display: block;
    padding: 25px 50px;
  }
}

@media (max-width: 576px) {
  .promotion {
    padding: 25px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}
