@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage(calc($i*(1/$steps)))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes glitch-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage(calc($i*(1/$steps)))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(-5px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes flicker {
  from {
    box-shadow: none;
  }
  25% {
    box-shadow: 0px 0px 15px 10px rgba(5, 217, 232, 0.15);
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: 0px 0px 15px 10px rgba(5, 217, 232, 0.15);
  }
  to {
    box-shadow: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes radio {
  from {
    opacity: 1;
    width: 60px;
    height: 60px;
  }
  25% {
    opacity: 0.8;
    width: 120px;
    height: 120px;
  }
  50% {
    opacity: 0.6;
    width: 60px;
    height: 60px;
  }
  75% {
    opacity: 0.4;
    width: 120px;
    height: 120px;
  }
  to {
    opacity: 0;
    width: 60px;
    height: 60px;
  }
}
